.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 24px 0 23px;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  max-width: 70%;
}

.imageAndText img {
  width: 48px;
  height: 48px;

  border-radius: 50%;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 100%;

  padding: 7px 25px 8px 13px;

  margin-right: 20px;

  background-color: #06c;
  box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
  border-radius: 10px;
}

.text:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -15px;

  left: auto;
  top: auto;
  bottom: 0;

  border: 16px solid;
  border-color: transparent transparent #06c transparent;
}

.name {
  color: white;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: end;
}

.messageText {
  color: white;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.time {
  width: 48px;
  text-align: center;

  margin-top: 5px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}
