.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
    color: #0080ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.input {
    width: 276px;
    margin-bottom: 16px;
}

.pen {
    width: 24px;
    height: 24px;
}
